@import "../variables_and_mixins";
/*Button Apple*/
.btn-apple {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  border: none;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 18px;
  background: $base-blue;
  color: $white;
  transition: all 0.3s ease-in-out;
}

.btn-apple:hover {
  color: $white;
  text-decoration: none;
  background: $base-blue-hover;
}

/*Button Twitter*/
.btn-twitter {
  color: $white;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 3px;
  background: $twitter-blue;
  transition: all 0.3s ease-in-out;
}

.btn-twitter:hover {
  text-decoration: none;
  color: $white;
}

/*Button Medium*/
.btn-medium {
  color: $default-gray;
  border: 1px solid $default-gray;
  padding: 10px 15px;
  font-weight: lighter;
  border-radius: 50px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.btn-medium:hover {
  text-decoration: none;
  color: $default-gray;
  opacity: 1;
}

/*GERAL*/
.btn-apple:focus,
.btn-medium:focus,
.btn-twitter:focus {
  outline: none;
}
