@import "../variables_and_mixins";
/*Button Apple*/
.btn-apple {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 18px;
  background: $base-blue;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn-apple:hover {
  color: #fff;
  text-decoration: none;
  background: $base-blue-hover;
}

/*Button Twitter*/

/*Button Medium*/

.btn-medium {
  color: #808080;
  border: 1px solid #808080;
  padding: 10px 15px;
  font-weight: lighter;
  border-radius: 50px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.btn-medium:hover {
  text-decoration: none;
  color: #808080;
  opacity: 1;
}
